# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Raw participant data
bg3-vis/analysis/data/raw_exports/
bg3-vis/analysis/data/unusedZIP/
bg3-vis/analysis/data/raw_jsonl/
bg3-vis/analysis/data/raw_surveys/

# Large
bg3-vis/analysis/data/processed/clean_events_flat.csv